name: Java CI with Maven

on: [pull]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        # The starter workflow will run the package target by default.
        # In the default Maven configuration, this command will download
        # dependencies, build classes, run tests, and package classes into
        # their distributable format,for example, a JAR file.
        run: mvn -B package --file pom.xml